* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#content {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 600px;
}

.main {
    padding: 60px;
}



/* Header */

.header {
    color: #FFFFFF;
    text-align: center;
    padding: 36px;
    background-color: #393f4d;
}



/* Search Input */

.form {
    text-align: center;
}

input[type="text"] {
    background-color: #FFFFFF;
    border: 1px solid #D6D9DC;
    border-radius: 3px;
    flex: 1;
    padding: 7px;
    margin-right: 8px;
    font-size: 14px;
}

input:focus {
	outline: none;
}

.search-btn {
    color: #FFFFFF;

    font-size: 14px;
    font-weight: bold;

    background-color: #5995DA;

    border: none;
    border-radius: 3px;

    padding: 7px 14px;
    cursor: pointer;
}

.search-btn:hover {
    background-color: #76AEED;
}

.search-btn:active {
    background-color: #407FC7;
}



/* Weather Card */

.weather-card {
    display: none;
    max-width: 300px;
    padding: 2rem;
    border-radius: 5px;
    margin: 4rem auto;
    background-color: #393f4d;
    color: #faf3e0;
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
    text-align: center;
}

h2 {
   margin-top: 16px;
   margin-bottom: 4px;
}

p {
    margin-bottom: 4px;
}